<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
<body>
{% extends 'main.html' %}
{% block content %}

<table>
    <tr>
        <th>Title</th>
        <th></th>
<!--        <th>Description</th>-->
    </tr>
    {% for i in note %}
    <tr>
        <td>{{i.title}}</td>
        <td></td>
        <td>{{i.owner}}</td>
<!--        <td>{{i.description}}</td>-->
        <td>{{i.created}}</td>
        <td><a href=" {% url 'viewpage' i.id %}">view</a></td>
        <td><a href="{% url 'updatenote' i.id %}">update</a></td>
        <td><a href="{% url 'deletenote' i.id %}">delete</a> </td>

    </tr>
    {% endfor %}
</table>


{% endblock content %}
</body>
</html>